// base 設置
* {
  font-family: "Noto Sans", sans-serif;
  box-sizing: border-box;
}
body {
  background-color: $black-100;
}
img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
}
button {
  border: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7,
p,
span,
ul,
li,
a {
  color: $black-0;
}
h1 {
  font-size: 160px;
  line-height: 192px;
  font-weight: 900;
}
h2 {
  font-size: 120px;
  line-height: 144px;
  font-weight: 900;
  @include mobile {
    font-size: 48px;
    line-height: 57.6px;
  }
}
h3 {
  font-size: 80px;
  line-height: 96px;
  font-weight: 900;
  @include mobile {
    font-size: 32px;
    line-height: 38.4px;
  }
}
h4 {
  font-size: 48px;
  line-height: 57.6px;
  font-weight: 900;
  @include mobile {
    font-size: 32px;
    line-height: 38.4px;
  }
}
h5 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 900;
}
h6 {
  font-size: 32px;
  line-height: 38.4px;
  font-weight: 900;
  @include mobile {
    font-size: 20px;
    line-height: 24px;
  }
}
h7 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 900;
}

p {
  font-size: 16px;
  line-height: 24px;
}

a {
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}

// untilies
.container {
  max-width: 1296px;
  margin: 0 auto;
  @include mobile {
    max-width: 351px;
  }
}
.text-14 {
  font-size: 14px;
  line-height: 21px;
}
.text-center {
  text-align: center;
}
.p-card {
  padding: 20px 32px;
}

// ///////////////////////////////
.flex {
  display: flex;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -12px;
  margin-left: -12px;
}
.w-1-3 {
  width: 33.3%;
}
.-mx-3 {
  margin-right: -12px;
  margin-left: -12px;
}
