$primary-color: #f18724;
$surface-color: #f2efe7;

$black-100: #000000;
$black-80: #525252;
$black-60: #919191;
$black-40: #d1d1d1;
$black-20: #f2f2f2;
$black-0: #ffffff;

$icon-size-80: 80px;
$icon-size-24: 24px;
$icon-size-16: 16px;

$main-radius: 16px;

$shadow-linear: linear-gradient(
  90deg,
  #000000 0%,
  rgba(0, 0, 0, 0.991615) 11.79%,
  rgba(0, 0, 0, 0.967585) 21.38%,
  rgba(0, 0, 0, 0.9296) 29.12%,
  rgba(0, 0, 0, 0.879348) 35.34%,
  rgba(0, 0, 0, 0.818519) 40.37%,
  rgba(0, 0, 0, 0.7488) 44.56%,
  rgba(0, 0, 0, 0.671881) 48.24%,
  rgba(0, 0, 0, 0.589452) 51.76%,
  rgba(0, 0, 0, 0.5032) 55.44%,
  rgba(0, 0, 0, 0.414815) 59.63%,
  rgba(0, 0, 0, 0.325985) 64.66%,
  rgba(0, 0, 0, 0.2384) 70.88%,
  rgba(0, 0, 0, 0.153748) 78.62%,
  rgba(0, 0, 0, 0.0737185) 88.21%,
  rgba(0, 0, 0, 0) 100%
);
